<link href="/css/login/login.css" rel="stylesheet" type="text/css" >



<div class="container px-4 py-5 mx-auto">
    <div class="card card0">
        <div class="d-flex flex-lg-row flex-column-reverse">
            <div class="card card1">
                <div class="row justify-content-center my-auto">
                    <div class="col-md-8 col-10 my-5">
                        <div class="row justify-content-center px-3 mb-3"></div>
                        <h3 class="mb-5 text-center heading">We are EduFunds</h3>
                        <h6 class="msg-info">Please login to your account</h6>


                        <form id="login">
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Username</label> 
                                <input type="text" id="email" name="email" placeholder="Phone no or email id" class="form-control"> 
                            </div>
                            <div class="form-group"> 
                                <label class="form-control-label text-muted">Password</label> 
                                <input type="password" id="password" name="password" placeholder="Password" class="form-control"> 
                            </div>
                            <div class="row justify-content-center my-3 px-3"> 
                                <button class="btn-block btn-color">Login</button> 
                            </div>
                            <div class="row justify-content-center my-2"> <a href="#"><small class="text-muted">Forgot Password?</small></a> </div>
                        </form>
                        
                    </div>
                </div>
                <div class="bottom text-center mb-5">
                    <p href="#" class="sm-text mx-auto mb-3">Don't have an account?<button class="btn btn-white ml-2"> <a href="/signup">Create New</a></button></p>
                </div>
            </div>
            <div class="card card2">
                <div class="my-auto mx-md-5 px-md-5 right">
                    <h3 class="text-white">We are more than just a platform</h3> <small class="text-white">We help Schools to provide free education in poor countries.</small>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.addEventListener("DOMContentLoaded", () => {
        var firebaseConfig = {
          apiKey: "AIzaSyCM6xdeCz7WCqwTkTU0MFNSK6xyMVLJbiY",
          authDomain: "edu-donor.firebaseapp.com",
          databaseURL: "https://edu-donor-default-rtdb.firebaseio.com",
          projectId: "edu-donor",
          storageBucket: "edu-donor.appspot.com",
          messagingSenderId: "1017072377365",
          appId: "1:1017072377365:web:a6fe013f6f1f13147a781c",
          measurementId: "G-SGHLCJEEYK"
          };
          // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    firebase.auth().setPersistence(firebase.auth.Auth.Persistence.NONE)
        

    document
            .getElementById("login")
            .addEventListener("submit", (event) => {
                event.preventDefault();
              const login = event.target.email.value;
              const password = event.target.password.value;

              firebase
                .auth()
                .signInWithEmailAndPassword(login, password)
                .then(({ user }) => {
                  return user.getIdToken().then((idToken) => {
                    return fetch("/sessionLogin", {
                      method: "POST",
                      headers: {
                        Accept: "application/json",
                        "Content-Type": "application/json",
                        "CSRF-Token": Cookies.get("XSRF-TOKEN"),
                      },
                      body: JSON.stringify({ idToken }),
                    });
                  });
                })
                .then((res) => {
                  console.log(res)
                  return firebase.auth().signOut();
                })
                .then(() => {
                  window.location.assign("/dashboard");
                });
              return false;
            });

    
        });
  </script>

