<link href="/css/readmore/readmore.css" rel="stylesheet" type="text/css" >


<div class="wrapper">
    <div class="card">
      <div class="product-left">
        <div class="header">
          <h1>Toro SLing Chair</h1>
          
        </div>
        <!--DESCRIPITON / DETAILS-->
        <div class="product-main">
          <div class="focus">
            <h3>Description</h3>
          </div>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ratione voluptatem quam vel, delectus expedita ullam asperiores laudantium modi. Voluptatum eum cum quis ea modi. Reiciendis asperiores aut beatae odit minima.Ratione voluptatem quam vel, delectus expedita ullam asperiores laudantium modi. Voluptatum eum cum quis ea modi. Reiciendis asperiores aut beatae odit minima.</p>
        </div>
        <!--CHOOSE PRODUCT DETAILS-->
        <div class="product-details">
          
          <!--PRODUCT TOTAL-->
          <div class="product-total">
            <h3>Total Price</h3>
            <p>$1399.00</p>
          </div>
        </div>
        <!-- ADD TO CART BUTTON -->
        <div class="product-btns">
            <a href="#" class="product-add">DONATE</a>
          </div>
      </div>
      
    </div>
  </div>
  
  
  
  