<div class="container">
    <div class="row custom-section d-flex align-items-center">
        <div class="col-12 col-lg-4">
            <h2>EduFunds</h2>
            <h5>Crowdfunding platform for free Education</h5>
            <p>Let’s Make A Difference Together!</p>
            <a href="/login">Raise Funds</a>
            <a href="/donate">Donate</a>
        </div>
        <div class="col-12 col-lg-8">
            <img src="/images/mainbenner.png" alt="Team process banner">
        </div>
    </div>
</div>


